@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&family=Oswald:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}
html {
  font-size: 16px;
}
body {
  overflow-y: hidden;
  background-image: url("./assests/home.jpg" );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.col {
  font-weight: bold;
  font-size: 1rem;
}
/* Nav Bar */
.main-nav {
  background: #000;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 0.5rem;
  z-index: 1;
  width: 100%;
  padding: 0 1.5rem;
  max-width: 68.75rem;
}

.nav-logo {
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 35px;
  font-weight: bold;
  text-decoration: none;
}
.nav-logo a span {
  color: #01bf71;
}
.nav-logo a {
  color: #fff;
  text-decoration: none;
}

.mobile-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.nav-links:hover {
  border-bottom: 3px solid #01bf71;
}

.nav-btn {
  display: flex;
  align-items: center;
}

.nav-btn-link {
  border-radius: 50px;
  background: #01bf71;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.nav-btn-link:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
/* Nav Bar Ends */

/* Side Bar */

.sidebar-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 100%;
  left: 0;
  transition: 0.3s ease-in-out;
}

.close-icon {
  color: #fff;
}

.icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.sidebar-wrapper {
  color: #fff;
}

.sidebar-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}

.sidebar-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: #fff;
  cursor: pointer;
}
.sidebar-link a:hover {
  color: #01bf71;
  transition: 0.2s ease-in-out;
}

.sidebtn-wrap {
  display: flex;
  justify-content: center;
}

.sidebar-btn {
  border-radius: 50px;
  background: #01bf71;
  white-space: nowrap;
  padding: 16px 64px;
  color: #010606;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sidebar-btn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

/* Hero section */
.hero-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 30px;
  height: 100vh;
  position: relative; */
  z-index: 1;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  z-index: 3;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.hero-text {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
}

.trend {
  color: #10e08a;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  font-size: 18px;
  margin: 5px auto;
  animation: 0.4s shake infinite alternate;
}
.versus {
  color: #10e08a;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
  margin: 5px auto;
  font-family: "Oswald" sans-serif;
  margin-left: 90px;
  display: inline;
}
.elon {
  margin-left: 80px;
}
.edward {
  margin-left: -45px;
}
.vs-text {
  margin-left: 50px;
}
.vs-btn {
  margin-left: 30px;
  background: #01bf71;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transform: all 0.2s ease-in-out;
  text-decoration: none;
}
.vs-btn a {
  text-decoration: none;
  color: #000;
}
.vs-btn:hover {
  background-color: #fff;
}
/* Animation for Trending*/
@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(-15deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
/*Animation Ends Hero Section continues*/
.hero-h1 {
  color: #fff;
  font-size: 53px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.hero-p {
  margin-top: 24px;
  color: #fff;
  font-size: 35px;
  text-align: center;
  max-width: 600px;
}

.heroBtn-wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 50px;
}

.stopwatch {
  color: #fff;
  
  max-width: fit-content;
 
  
  margin-left: 2rem;
  margin-bottom: 2rem;
}

/* Media Queries: Responsiveness for smaller screens */
@media screen and (max-width: 768px) {
  .hero-h1 {
    font-size: 40px;
  }
  .hero-content {
    margin-bottom: 10rem;
  }
  .nav-logo {
    margin-left: 10px;
  }
  .vs-btn {
    margin-top: 15px;
  }
  .hero-p {
    font-size: 24px;
  }
  .nav-btn {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .mobile-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .hero-h1 {
    font-size: 32px;
  }
  .hero-content {
    margin-top: 10rem;
  }
  .nav-logo {
    margin-left: 10px;
  }
  .vs-btn {
    margin-top: 15px;
  }
  .hero-p {
    font-size: 18px;
  }

  .sidebar-menu {
    grid-template-rows: repeat(6, 60px);
  }
}

@media screen and (max-width: 960px) {
  .nav {
    transition: 0.8s all ease;
  }
}

@media screen and (max-width: 500px) {
  .stopwatch {
    margin-left: 35px;
  }
  .hero-content {
    margin-top: 10rem;
  }
  .nav-logo {
    margin-left: 10px;
  }
  .vs-btn {
    margin-top: 15px;
  }
}
@media screen and (max-width: 420px) {
  .stopwatch {
    margin-left: 15px;
  }
  .hero-content {
    margin-top: 10rem;
  }
  .nav-logo {
    margin-left: 10px;
  }
  .vs-btn {
    margin-top: 15px;
    margin-right: 39px;
  }
}

/* <GROUP 3 VOTING SYSTEM PROJECT /> */
